### Overview of Dataset and Variables
** All empty columns were removed

** Columns not needed in our dataset are removed.

- 'dataset_id': The dataset_id is '178820dc-ead7-497b-b2a2-2c8ea4d5a084', and is the same for each entry (same dataset). - Column Removed
- 'id': unique id for each entry
- 'aphiaid': value '137102' occurs for every entry (107 times) - Column removed
- 'areas': unclear what variable signifies. Mostly the same throughout - Column removed
- 'associatedMedia': provides a unique link for each entry, which leaved to anavnet, with what appears to be the mapped location of each siting/interaction
- 'basisOfRecord': All entries record 'HumanObservation' as the method for observation - Column Removed
- 'bathymetry': Water depth at a location (often in meters, negative down)
- 'catalogNumber': Each entry has a unique catalogNumber - Column Removed (same as occurrenceID)
- 'class': All entries report class as 'Mammalia'. - Column Removed
- 'classid': All entries have 'classid' '1837' - Column Removed
- 'datasetID': All values are 'https://marineinfo.org/id/dataset/8743' - Column Removed
- 'datasetName': All values are 'Events with orcas - AnavNet' - Column Removed
- 'date_end': Unclear what this data represents, but doesn't appear to be relevant to our needs - Column Removed
- 'date_mid': Unclear what this data represents, but doesn't appear to be relevant to our needs - Column Removed
- 'date_start': Unclear what this data represents, but doesn't appear to be relevant to our needs - Column Removed
- 'date_year': Year of recorded encounter. But this column is identical to the column 'year', so this one is dropped and 'year' kept - Column Removed
- 'day': Day of the month of encounter. 
- 'decimalLatitude': Latitude coordinates of event location (float)
- 'decimalLongitude': Longitude coordinates of event location (float)
- 'eventDate': date of event, yyyy-mm
- 'family': All values are of family 'Delphinidae' - Column Removed
- 'familyid': All values are of familyid '136980' - Column Removed
- 'footprintWKT': Geospatial data in WKT (Well-Known Text) format. A single point location expressed as a MultiPoint, with latitude and longitude.
- 'genus': All values for genus are 'Orcinus' - Column Removed
- 'genusid': All values are '137021' - Column Removed
- 'infraorder': All values are 'Cetacea' for order. - Column Removed
- 'infraorderid': All values = '2688' - Column Removed
- 'infraphylum': '      ' = 'Gnathostomata' - Column Removed
- 'infraphylumid': = '1828' - Column Removed
- 'institutionCode': = 'IHPT' - Column Removed
- 'kingdom': = 'Animalia' - Column Removed
- 'kingdomid': = '2' - Column Removed
- 'marine': = 'True' - Column Removed
- 'megaclass': = 'Tetrapoda' - Column Removed
- 'modified': = '2025-02-21 12:32:28' - Column Removed
- 'month': Month of sighting or interaction
- 'occurrenceID': Each ID is unique, but it appears to be the same as 'catalogNumber'
- 'occurrenceRemarks': Comments about the interaction in Portuguese. Mostly repetitive but could still be helpful.
- 'occurrenceStatus': = 'present' - Column Removed
- 'order': = 'Cetartiodactyla' - Column Removed
- 'orderid': = '370511'  - Column Removed
- 'phylum': = 'Chordata' - Column Removed
- 'phylumid': = '1821'  - Column Removed
- 'scientificName': = 'Orcinus orca' - Column Removed
- 'scientificNameID': = 'urn:lsid:marinespecies.org:taxname:137102' - Column Removed
- 'shoredistance': Distance from shore. Unique values for most entries
- 'species': = 'Orcinus orca' - Column Removed
- 'speciesid': = '137102' - Column Removed
- 'sss': likely, Sea Surface Salinity
- 'sst': likely, Sea Surface Temperature
- 'subclass': = 'Theria' - Column Removed
- 'subclassid': - Column Removed
- 'suborder': = 'Cetancodonta' - Column Removed
- 'suborderid': - Column Removed
- 'subphylum': = 'Vertebrata' - Column Removed
- 'subphylumid': - Column Removed
- 'superfamily': = 'Odontoceti' - Column Removed
- 'superfamilyid': - Column Removed
- 'year': Year of recorded encounter
- 'originalScientificName': = 'Orcinus orca (Linnaeus, 1758)' - Column Removed
- 'flags': 105 entires with'[NO_DEPTH]' and 2 with '[NO_DEPTH, ON_LAND]'  - Column Removed
- 'dropped': = 'False' - Column Removed
- 'absence': = 'False' - Column Removed

Are they practicing skills, passing information down the matriarchy? Are they angry at us? Are they pleaing for help and trying to get our attention?

In [1]:
import pandas as pd
import numpy as np
import os

pd.set_option("display.max_columns", None)

In [2]:
# Import data
# Load Occurrence.tsv file in OBIS Data folder
df = pd.read_table('OBIS Data/Occurrence.tsv')

In [3]:
df.head()

,dataset_id,id,acceptedNameUsage,acceptedNameUsageID,accessRights,aphiaid,areas,associatedMedia,associatedOccurrences,associatedOrganisms,associatedReferences,associatedSequences,associatedTaxa,basisOfRecord,bathymetry,bed,behavior,bibliographicCitation,brackish,caste,catalogNumber,class,classid,collectionCode,collectionID,continent,coordinatePrecision,coordinateUncertaintyInMeters,country,countryCode,county,cultivarEpithet,dataGeneralizations,datasetID,datasetName,dateIdentified,date_end,date_mid,date_start,date_year,day,decimalLatitude,decimalLongitude,degreeOfEstablishment,depth,disposition,division,divisionid,domain,domainid,dynamicProperties,earliestAgeOrLowestStage,earliestEonOrLowestEonothem,earliestEpochOrLowestSeries,earliestEraOrLowestErathem,earliestPeriodOrLowestSystem,endDayOfYear,establishmentMeans,eventDate,eventID,eventRemarks,eventTime,eventType,family,familyid,fieldNotes,fieldNumber,footprintSRS,footprintSpatialFit,footprintWKT,forma,formaid,formation,genericName,genus,genusid,geodeticDatum,geologicalContextID,georeferenceProtocol,georeferenceRemarks,georeferenceSources,georeferenceVerificationStatus,georeferencedBy,georeferencedDate,gigaclass,gigaclassid,group,hab,habitat,higherClassification,higherGeography,higherGeographyID,highestBiostratigraphicZone,identificationID,identificationQualifier,identificationReferences,identificationRemarks,identificationVerificationStatus,identifiedBy,identifiedByID,individualCount,informationWithheld,infraclass,infraclassid,infragenericEpithet,infrakingdom,infrakingdomid,infraorder,infraorderid,infraphylum,infraphylumid,infraspecificEpithet,institutionCode,institutionID,island,islandGroup,kingdom,kingdomid,language,latestAgeOrHighestStage,latestEonOrHighestEonothem,latestEpochOrHighestSeries,latestEraOrHighestErathem,latestPeriodOrHighestSystem,license,lifeStage,lithostratigraphicTerms,locality,locationAccordingTo,locationID,locationRemarks,lowestBiostratigraphicZone,marine,materialEntityID,materialEntityRemarks,materialSampleID,maximumDepthInMeters,maximumDistanceAboveSurfaceInMeters,maximumElevationInMeters,megaclass,megaclassid,member,minimumDepthInMeters,minimumDistanceAboveSurfaceInMeters,minimumElevationInMeters,modified,month,municipality,nameAccordingTo,nameAccordingToID,namePublishedIn,namePublishedInID,namePublishedInYear,nomenclaturalCode,nomenclaturalStatus,occurrenceID,occurrenceRemarks,occurrenceStatus,order,orderid,organismID,organismName,organismQuantity,organismQuantityType,organismRemarks,organismScope,originalNameUsage,originalNameUsageID,otherCatalogNumbers,ownerInstitutionCode,parentEventID,parentNameUsage,parentNameUsageID,parvorder,parvorderid,parvphylum,parvphylumid,pathway,phylum,phylum_division,phylum_divisionid,phylumid,pointRadiusSpatialFit,preparations,previousIdentifications,recordNumber,recordedBy,recordedByID,redlist_category,references,reproductiveCondition,rightsHolder,sampleSizeUnit,sampleSizeValue,samplingEffort,samplingProtocol,scientificName,scientificNameAuthorship,scientificNameID,section,sectionid,sex,shoredistance,species,speciesid,specificEpithet,sss,sst,startDayOfYear,stateProvince,subclass,subclassid,subdivision,subdivisionid,subfamily,subfamilyid,subforma,subformaid,subgenus,subgenusid,subkingdom,subkingdomid,suborder,suborderid,subphylum,subphylum_subdivision,subphylum_subdivisionid,subphylumid,subsection,subsectionid,subspecies,subspeciesid,subterclass,subterclassid,subtribe,subtribeid,subvariety,subvarietyid,superclass,superclassid,superdomain,superdomainid,superfamily,superfamilyid,superorder,superorderid,supertribe,supertribeid,taxonConceptID,taxonID,taxonRank,taxonRemarks,taxonomicStatus,tribe,tribeid,type,typeStatus,unaccepted,variety,varietyid,verbatimCoordinateSystem,verbatimCoordinates,verbatimDepth,verbatimElevation,verbatimEventDate,verbatimIdentification,verbatimLabel,verbatimLatitude,verbatimLocality,verbatimLongitude,verbatimSRS,verbatimTaxonRank,vernacularName,verticalDatum,vitality,waterBody,wrims,year,originalScientificName,flags,dropped,absence
0,178820dc-ead7-497b-b2a2-2c8ea4d5a084,ff3f89a4-518d-4e7c-a2dc-dda812013747,NaN,NaN,NaN,137102,"[193, 194, 40025, 31912]",https://geoanavnet.hidrografico.pt/coastal-war...,NaN,NaN,NaN,NaN,NaN,HumanObservation,743.2,NaN,NaN,NaN,NaN,NaN,1020_ANAV_NR_2310/22,Mammalia,1837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://marineinfo.org/id/dataset/8743,Events with orcas - AnavNet,NaN,1672444800000,1656720000000,1640995200000,2022,NaN,38.289937,-9.041748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,NaN,NaN,NaN,NaN,Delphinidae,136980,NaN,NaN,NaN,NaN,MultiPoint ((-9.04174800000000012 38.289937000...,NaN,NaN,NaN,NaN,Orcinus,137021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cetacea,2688,Gnathostomata,1828,NaN,IHPT,NaN,NaN,NaN,Animalia,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,Tetrapoda,1831,NaN,NaN,NaN,NaN,2025-02-21 12:32:28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1020_ANAV_NR_2310/22,Novos perigos|Animais Marinhos - InteraÁ„o,present,Cetartiodactyla,370511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chordata,NaN,NaN,1821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Orcinus orca,NaN,urn:lsid:marinespecies.org:taxname:137102,NaN,NaN,NaN,16220.0,Orcinus orca,137102,NaN,35.49,17.10,NaN,NaN,Theria,380416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cetancodonta,370545,Vertebrata,NaN,NaN,146419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Odontoceti,148723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,"Orcinus orca (Linnaeus, 1758)",[NO_DEPTH],False,False
1,178820dc-ead7-497b-b2a2-2c8ea4d5a084,716b10c8-5520-4577-9969-abd9f15b049c,NaN,NaN,NaN,137102,"[193, 194, 40025, 31912]",https://geoanavnet.hidrografico.pt/coastal-war...,NaN,NaN,NaN,NaN,NaN,HumanObservation,86.6,NaN,NaN,NaN,NaN,NaN,1032_ANAV_NR_2317/22,Mammalia,1837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://marineinfo.org/id/dataset/8743,Events with orcas - AnavNet,NaN,1664496000000,1664496000000,1664496000000,2022,30.0,38.238150,-8.856500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-30,NaN,NaN,NaN,NaN,Delphinidae,136980,NaN,NaN,NaN,NaN,MultiPoint ((-8.85650000000000048 38.238149999...,NaN,NaN,NaN,NaN,Orcinus,137021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cetacea,2688,Gnathostomata,1828,NaN,IHPT,NaN,NaN,NaN,Animalia,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,Tetrapoda,1831,NaN,NaN,NaN,NaN,2025-02-21 12:32:28,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1032_ANAV_NR_2317/22,Novos perigos|Animais Marinhos - InteraÁ„o,present,Cetartiodactyla,370511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chordata,NaN,NaN,1821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Orcinus orca,NaN,urn:lsid:marinespecies.org:taxname:137102,NaN,NaN,NaN,7067.0,Orcinus orca,137102,NaN,35.50,17.15,NaN,NaN,Theria,380416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cetancodonta,370545,Vertebrata,NaN,NaN,146419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Odontoceti,148723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,"Orcinus orca (Linnaeus, 1758)",[NO_DEPTH],False,False
2,178820dc-ead7-497b-b2a2-2c8ea4d5a084,04513443-a748-4db8-97ff-d7feeb05efe6,NaN,NaN,NaN,137102,"[193, 194, 40025, 31912]",https://geoanavnet.hidrografico.pt/coastal-war...,NaN,NaN,NaN,NaN,NaN,HumanObservation,158.6,NaN,NaN,NaN,NaN,NaN,1060_ANAV_NR_2335/22,Mammalia,1837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://marineinfo.org/id/dataset/8743,Events with orcas - AnavNet,NaN,1667174400000,1665878400000,1664582400000,2022,NaN,38.190013,-9.040319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10,NaN,NaN,NaN,NaN,Delphinidae,136980,NaN,NaN,NaN,NaN,MultiLineString ((-8.93188499999999941 37.9311...,NaN,NaN,NaN,NaN,Orcinus,137021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cetacea,2688,Gnathostomata,1828,NaN,IHPT,NaN,NaN,NaN,Animalia,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,Tetrapoda,1831,NaN,NaN,NaN,NaN,2025-02-21 12:32:28,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1060_ANAV_NR_2335/22,Novos perigos|Animais Marinhos - InteraÁ„o,present,Cetartiodactyla,370511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chordata,NaN,NaN,1821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Orcinus orca,NaN,urn:lsid:marinespecies.org:taxname:137102,NaN,NaN,NaN,22472.0,Orcinus orca,137102,NaN,35.52,17.19,NaN,NaN,Theria,380416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cetancodonta,370545,Vertebrata,NaN,NaN,146419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Odontoceti,148723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,"Orcinus orca (Linnaeus, 1758)",[NO_DEPTH],False,False
3,178820dc-ead7-497b-b2a2-2c8ea4d5a084,e908ddf8-bfea-416b-bc95-e3014ed35446,NaN,NaN,NaN,137102,"[193, 194, 40025, 31912]",https://geoanavnet.hidrografico.pt/coastal-war...,NaN,NaN,NaN,NaN,NaN,HumanObservation,56.0,NaN,NaN,NaN,NaN,NaN,1140_ANAV_NR_2385/22,Mammalia,1837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://marineinfo.org/id/dataset/8743,Events with orcas - AnavNet,NaN,1667174400000,1665878400000,1664582400000,2022,NaN,37.022205,-8.738250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10,NaN,NaN,NaN,NaN,Delphinidae,136980,NaN,NaN,NaN,NaN,MultiPolygon (((-9.01977499999999921 36.908175...,NaN,NaN,NaN,NaN,Orcinus,137021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cetacea,2688,Gnathostomata,1828,NaN,IHPT,NaN,NaN,NaN,Animalia,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,Tetrapoda,1831,NaN,NaN,NaN,NaN,2025-02-21 12:32:28,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1140_ANAV_NR_2385/22,Requisitos de seguranÁa maritima|Animais Marin...,present,Cetartiodactyla,370511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chordata,NaN,NaN,1821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Orcinus orca,NaN,urn:lsid:marinespecies.org:taxname:137102,NaN,NaN,NaN,5857.0,Orcinus orca,137102,NaN,35.79,17.80,NaN,NaN,Theria,380416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cetancodonta,370545,Vertebrata,NaN,NaN,146419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Odontoceti,148723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,"Orcinus orca (Linnaeus, 1758)",[NO_DEPTH],False,False
4,178820dc-ead7-497b-b2a2-2c8ea4d5a084,c928f316-1827-4fac-b333-2504a40e8936,NaN,NaN,NaN,137102,"[193, 194, 40025, 31912]",https://geoanavnet.hidrografico.pt/coastal-war...,NaN,NaN,NaN,NaN,NaN,HumanObservation,31.2,NaN,NaN,NaN,NaN,NaN,1144_ANAV_NR_2387/22,Mammalia,1837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://marineinfo.org/id/dataset/8743,Events with orcas - AnavNet,NaN,1667174400000,1665878400000,1664582400000,2022,NaN,39.362879,-9.441375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10,NaN,NaN,NaN,NaN,Delphinidae,136980,NaN,NaN,NaN,NaN,MultiPolygon (((-9.59930400000000006 39.249271...,NaN,NaN,NaN,NaN,Orcinus,137021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cetacea,2688,Gnathostomata,1828,NaN,IHPT,NaN,NaN,NaN,Animalia,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,Tetrapoda,1831,NaN,NaN,NaN,NaN,2025-02-21 12:32:28,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1144_ANAV_NR_2387/22,Requisitos de seguranÁa maritima|Animais Marin...,present,Cetartiodactyla,370511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chordata,NaN,NaN,1821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Orcinus orca,NaN,urn:lsid:marinespecies.org:taxname:137102,NaN,NaN,NaN,2824.0,Orcinus orca,137102,NaN,35.27,16.69,NaN,NaN,Theria,380416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cetancodonta,370545,Vertebrata,NaN,NaN,146419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Odontoceti,148723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,"Orcinus orca (Linnaeus, 1758)",[NO_DEPTH],False,False

In [4]:
df.shape

(107, 282)

### Inpsect and Remove Unnecessary Columns

In [5]:
# Drop columns that contain all NaN values
df = df.dropna(axis=1, how='all')
df.shape

(107, 64)

In [6]:
df.head(1)

,dataset_id,id,aphiaid,areas,associatedMedia,basisOfRecord,bathymetry,catalogNumber,class,classid,datasetID,datasetName,date_end,date_mid,date_start,date_year,day,decimalLatitude,decimalLongitude,eventDate,family,familyid,footprintWKT,genus,genusid,infraorder,infraorderid,infraphylum,infraphylumid,institutionCode,kingdom,kingdomid,marine,megaclass,megaclassid,modified,month,occurrenceID,occurrenceRemarks,occurrenceStatus,order,orderid,phylum,phylumid,scientificName,scientificNameID,shoredistance,species,speciesid,sss,sst,subclass,subclassid,suborder,suborderid,subphylum,subphylumid,superfamily,superfamilyid,year,originalScientificName,flags,dropped,absence
0,178820dc-ead7-497b-b2a2-2c8ea4d5a084,ff3f89a4-518d-4e7c-a2dc-dda812013747,137102,"[193, 194, 40025, 31912]",https://geoanavnet.hidrografico.pt/coastal-war...,HumanObservation,743.2,1020_ANAV_NR_2310/22,Mammalia,1837,https://marineinfo.org/id/dataset/8743,Events with orcas - AnavNet,1672444800000,1656720000000,1640995200000,2022,NaN,38.289937,-9.041748,2022,Delphinidae,136980,MultiPoint ((-9.04174800000000012 38.289937000...,Orcinus,137021,Cetacea,2688,Gnathostomata,1828,IHPT,Animalia,2,True,Tetrapoda,1831,2025-02-21 12:32:28,NaN,1020_ANAV_NR_2310/22,Novos perigos|Animais Marinhos - InteraÁ„o,present,Cetartiodactyla,370511,Chordata,1821,Orcinus orca,urn:lsid:marinespecies.org:taxname:137102,16220.0,Orcinus orca,137102,35.49,17.1,Theria,380416,Cetancodonta,370545,Vertebrata,146419,Odontoceti,148723,2022,"Orcinus orca (Linnaeus, 1758)",[NO_DEPTH],False,False

In [7]:
df.columns

Index(['dataset_id', 'id', 'aphiaid', 'areas', 'associatedMedia',
       'basisOfRecord', 'bathymetry', 'catalogNumber', 'class', 'classid',
       'datasetID', 'datasetName', 'date_end', 'date_mid', 'date_start',
       'date_year', 'day', 'decimalLatitude', 'decimalLongitude', 'eventDate',
       'family', 'familyid', 'footprintWKT', 'genus', 'genusid', 'infraorder',
       'infraorderid', 'infraphylum', 'infraphylumid', 'institutionCode',
       'kingdom', 'kingdomid', 'marine', 'megaclass', 'megaclassid',
       'modified', 'month', 'occurrenceID', 'occurrenceRemarks',
       'occurrenceStatus', 'order', 'orderid', 'phylum', 'phylumid',
       'scientificName', 'scientificNameID', 'shoredistance', 'species',
       'speciesid', 'sss', 'sst', 'subclass', 'subclassid', 'suborder',
       'suborderid', 'subphylum', 'subphylumid', 'superfamily',
       'superfamilyid', 'year', 'originalScientificName', 'flags', 'dropped',
       'absence'],
      dtype='object')

In [8]:
# Inspect unique values
# See what other columns can be removed, or should be inspected further
df['dataset_id'].value_counts()

178820dc-ead7-497b-b2a2-2c8ea4d5a084    107
Name: dataset_id, dtype: int64

In [9]:
# Inspect unique values
# See what other columns can be removed, or should be inspected further
df['aphiaid'].value_counts()

137102    107
Name: aphiaid, dtype: int64

In [10]:
# Inspect unique values
df['areas'].value_counts()

[193, 194, 40025, 31912]    104
[193, 194, 40025]             1
[193, 194, 40027, 31912]      1
[193, 194]                    1
Name: areas, dtype: int64

In [11]:
# Inspect unique values
df['associatedMedia'].value_counts()

https://geoanavnet.hidrografico.pt/coastal-warnings?uuid=61757c5c-cc27-4a3c-ae6a-6bf7eb642378    1
https://geoanavnet.hidrografico.pt/coastal-warnings?uuid=9f898a6a-e5e4-41ed-92f2-ffe5caa91951    1
https://geoanavnet.hidrografico.pt/coastal-warnings?uuid=62b2d19a-dd5c-4ec8-8c82-532640d38443    1
https://geoanavnet.hidrografico.pt/coastal-warnings?uuid=d25a17bc-da1d-4658-a77d-d7888e9f86a6    1
https://geoanavnet.hidrografico.pt/coastal-warnings?uuid=9185aeb8-e708-4710-91d8-5132a8d1e01e    1
                                                                                                ..
https://geoanavnet.hidrografico.pt/coastal-warnings?uuid=46a05d13-90c8-405a-8b01-3d808003b582    1
https://geoanavnet.hidrografico.pt/coastal-warnings?uuid=b70e9dff-3ab4-458c-af50-12ca37081303    1
https://geoanavnet.hidrografico.pt/coastal-warnings?uuid=9694ebbb-5a24-4dc2-a9a8-fe0540b91847    1
https://geoanavnet.hidrografico.pt/coastal-warnings?uuid=4f90cee6-f08f-44a9-a80f-c55dc1fb4190    1
https://geoanavnet.hidrografico.pt/coastal-warnings?uuid=4826b1ec-96cd-4802-b26f-cfaa72b62612    1
Name: associatedMedia, Length: 107, dtype: int64

In [12]:
# Inspect unique values
df['basisOfRecord'].value_counts()

HumanObservation    107
Name: basisOfRecord, dtype: int64

In [13]:
# Inspect unique values
df['bathymetry'].value_counts()

134.0     2
151.8     2
3.8       2
39.0      2
1117.8    2
         ..
72.2      1
34.0      1
105.6     1
37.8      1
58.4      1
Name: bathymetry, Length: 98, dtype: int64

In [14]:
# Inspect unique values
df['catalogNumber'].value_counts()

1020_ANAV_NR_2310/22    1
8058_ANAV_NR_0840/24    1
7880_ANAV_NR_0743/24    1
7862_ANAV_NR_0734/24    1
7816_ANAV_NR_0707/24    1
                       ..
4364_ANAV_NR_1386/23    1
4310_ANAV_NR_1359/23    1
4308_ANAV_NR_1358/23    1
4296_ANAV_NR_1352/23    1
996_ANAV_NR_2292/22     1
Name: catalogNumber, Length: 107, dtype: int64

In [15]:
# Inspect unique values
df['class'].value_counts()

Mammalia    107
Name: class, dtype: int64

In [16]:
# Inspect unique values
df['classid'].value_counts()

1837    107
Name: classid, dtype: int64

In [17]:
# Inspect unique values
df['datasetID'].value_counts()

https://marineinfo.org/id/dataset/8743    107
Name: datasetID, dtype: int64

In [18]:
# Inspect unique values
df['datasetName'].value_counts()

Events with orcas - AnavNet    107
Name: datasetName, dtype: int64

In [19]:
# Inspect unique values
df['date_end'].value_counts()

1693440000000    9
1690761600000    7
1688083200000    5
1667174400000    5
1703980800000    5
                ..
1700611200000    1
1702857600000    1
1703203200000    1
1708473600000    1
1727654400000    1
Name: date_end, Length: 62, dtype: int64

In [20]:
# Inspect unique values
df['date_mid'].value_counts()

1692144000000    9
1689465600000    7
1665878400000    5
1688256000000    5
1686787200000    5
                ..
1702857600000    1
1703203200000    1
1708473600000    1
1710201600000    1
1726358400000    1
Name: date_mid, Length: 65, dtype: int64

In [21]:
# Inspect unique values
df['date_start'].value_counts()

1690848000000    9
1688169600000    8
1685577600000    5
1664582400000    5
1672531200000    5
                ..
1664496000000    1
1702857600000    1
1703203200000    1
1708473600000    1
1725148800000    1
Name: date_start, Length: 64, dtype: int64

In [22]:
# Inspect unique values
df['date_year'].value_counts()

2023    58
2024    31
2022    18
Name: date_year, dtype: int64

In [23]:
# Inspect unique values
df['year'].value_counts()

2023    58
2024    31
2022    18
Name: year, dtype: int64

In [24]:
# Inspect unique values
df['day'].value_counts()

22.0    5
18.0    4
28.0    4
13.0    4
19.0    3
16.0    3
30.0    3
25.0    3
21.0    3
27.0    2
17.0    2
24.0    2
12.0    2
23.0    2
1.0     2
15.0    1
20.0    1
5.0     1
3.0     1
8.0     1
9.0     1
31.0    1
26.0    1
Name: day, dtype: int64

In [25]:
# Inspect unique values
df['eventDate'].value_counts()

2023-08       9
2023-07       7
2023-06       5
2022-10       5
2023          5
             ..
2022-09-30    1
2023-11-22    1
2023-12-18    1
2023-12-22    1
2024-09       1
Name: eventDate, Length: 66, dtype: int64

In [26]:
# Inspect unique values
df['family'].value_counts()

Delphinidae    107
Name: family, dtype: int64

In [27]:
# Inspect unique values
df['familyid'].value_counts()

136980    107
Name: familyid, dtype: int64

In [28]:
# Inspect unique values
df['footprintWKT'].value_counts()

MultiPoint ((-9.39333300000000015 38.38833300000000293))    2
MultiPoint ((-7.82296700000000023 36.91968299999999914))    2
MultiPoint ((-9.04174800000000012 38.28993700000000189))    1
MultiPoint ((-8.82750000000000057 36.99483299999999986))    1
MultiPoint ((-9.09667999999999921 37.52715400000000301))    1
                                                           ..
MultiPoint ((-8.8813329999999997 37.59599999999999653))     1
MultiPoint ((-8.82333299999999987 37.66733299999999929))    1
MultiPoint ((-8.58333299999999966 36.91666699999999679))    1
MultiPoint ((-8.63333300000000037 37.06666700000000247))    1
MultiPoint ((-9.25186199999999914 38.56212599999999924))    1
Name: footprintWKT, Length: 105, dtype: int64

In [29]:
# Inspect unique values
df['genus'].value_counts()

Orcinus    107
Name: genus, dtype: int64

In [30]:
# Inspect unique values
df['genusid'].value_counts()

137021    107
Name: genusid, dtype: int64

In [31]:
# Inspect unique values
df['infraorder'].value_counts()

Cetacea    107
Name: infraorder, dtype: int64

In [32]:
# Inspect unique values
df['infraorderid'].value_counts()

2688    107
Name: infraorderid, dtype: int64

In [33]:
# Inspect unique values
df['infraphylum'].value_counts()

Gnathostomata    107
Name: infraphylum, dtype: int64

In [34]:
# Inspect unique values
df['infraphylumid'].value_counts()

1828    107
Name: infraphylumid, dtype: int64

In [35]:
# Inspect unique values
df['institutionCode'].value_counts()

IHPT    107
Name: institutionCode, dtype: int64

In [36]:
# Inspect unique values
df['kingdom'].value_counts()

Animalia    107
Name: kingdom, dtype: int64

In [37]:
# Inspect unique values
df['kingdomid'].value_counts()

2    107
Name: kingdomid, dtype: int64

In [38]:
# Inspect unique values
df['marine'].value_counts()

True    107
Name: marine, dtype: int64

In [39]:
# Inspect unique values
df['megaclass'].value_counts()

Tetrapoda    107
Name: megaclass, dtype: int64

In [40]:
# Inspect unique values
df['modified'].value_counts()

2025-02-21 12:32:28    107
Name: modified, dtype: int64

In [41]:
# Inspect unique values
df['month'].value_counts()

8.0     21
6.0     19
9.0     15
7.0     10
3.0      8
10.0     6
4.0      6
11.0     5
12.0     3
2.0      3
5.0      3
Name: month, dtype: int64

In [42]:
# Inspect unique values
df['occurrenceID'].value_counts()

1020_ANAV_NR_2310/22    1
8058_ANAV_NR_0840/24    1
7880_ANAV_NR_0743/24    1
7862_ANAV_NR_0734/24    1
7816_ANAV_NR_0707/24    1
                       ..
4364_ANAV_NR_1386/23    1
4310_ANAV_NR_1359/23    1
4308_ANAV_NR_1358/23    1
4296_ANAV_NR_1352/23    1
996_ANAV_NR_2292/22     1
Name: occurrenceID, Length: 107, dtype: int64

In [43]:
# Inspect unique values
df['occurrenceRemarks'].value_counts()

Novos perigos|Animais Marinhos - Avistamento                       36
Requisitos de seguranÁa maritima|Animais Marinhos - Avistamento    28
Novos perigos|Animais Marinhos - InteraÁ„o                         23
Requisitos de seguranÁa maritima|Animais Marinhos - InteraÁ„o      19
Requisitos de seguranÁa maritima|Outros - OperaÁıes de mergulho     1
Name: occurrenceRemarks, dtype: int64

In [44]:
# Inspect unique values
df['occurrenceStatus'].value_counts()

present    107
Name: occurrenceStatus, dtype: int64

In [45]:
# Inspect unique values
df['order'].value_counts()

Cetartiodactyla    107
Name: order, dtype: int64

In [46]:
# Inspect unique values
df['orderid'].value_counts()

370511    107
Name: orderid, dtype: int64

In [47]:
# Inspect unique values
df['phylum'].value_counts()

Chordata    107
Name: phylum, dtype: int64

In [48]:
# Inspect unique values
df['phylumid'].value_counts()

1821    107
Name: phylumid, dtype: int64

In [49]:
# Inspect unique values
df['scientificName'].value_counts()

Orcinus orca    107
Name: scientificName, dtype: int64

In [50]:
# Inspect unique values
df['scientificNameID'].value_counts()

urn:lsid:marinespecies.org:taxname:137102    107
Name: scientificNameID, dtype: int64

In [51]:
# Inspect unique values
df['shoredistance'].value_counts()

3349.0     2
15111.0    2
6492.0     2
16220.0    1
20732.0    1
          ..
7025.0     1
5468.0     1
1928.0     1
19526.0    1
4812.0     1
Name: shoredistance, Length: 104, dtype: int64

In [52]:
# Inspect unique values
df['species'].value_counts()

Orcinus orca    107
Name: species, dtype: int64

In [53]:
# Inspect unique values
df['speciesid'].value_counts()

137102    107
Name: speciesid, dtype: int64

In [54]:
# Inspect unique values
df['sss'].value_counts()

35.82    7
35.75    5
35.79    5
35.81    5
35.83    5
35.71    4
35.49    3
35.80    3
35.33    3
35.78    3
35.13    3
35.38    3
35.68    3
35.62    3
35.50    2
35.03    2
35.69    2
35.53    2
35.74    2
35.36    2
35.39    2
35.44    2
35.52    2
35.45    2
35.27    2
35.67    2
35.63    2
35.86    1
35.88    1
35.84    1
35.58    1
35.73    1
35.57    1
35.76    1
35.21    1
35.28    1
35.19    1
34.14    1
35.25    1
34.90    1
35.70    1
35.48    1
35.77    1
35.65    1
35.04    1
35.66    1
36.28    1
35.93    1
36.14    1
35.35    1
36.36    1
34.46    1
Name: sss, dtype: int64

In [55]:
# Inspect unique values
df['sst'].value_counts()

18.66    5
17.92    4
17.31    4
18.64    3
16.98    3
        ..
16.27    1
17.32    1
17.99    1
17.75    1
16.89    1
Name: sst, Length: 70, dtype: int64

In [56]:
# Inspect unique values
df['subclass'].value_counts()

Theria    107
Name: subclass, dtype: int64

In [57]:
# Inspect unique values
df['suborder'].value_counts()

Cetancodonta    107
Name: suborder, dtype: int64

In [58]:
# Inspect unique values
df['subphylum'].value_counts()

Vertebrata    107
Name: subphylum, dtype: int64

In [59]:
# Inspect unique values
df['superfamily'].value_counts()

Odontoceti    107
Name: superfamily, dtype: int64

In [60]:
# Inspect unique values
df['year'].value_counts()

2023    58
2024    31
2022    18
Name: year, dtype: int64

In [61]:
# Inspect unique values
df['originalScientificName'].value_counts()

Orcinus orca (Linnaeus, 1758)    107
Name: originalScientificName, dtype: int64

In [62]:
# Inspect unique values
df['flags'].value_counts()

[NO_DEPTH]             105
[NO_DEPTH, ON_LAND]      2
Name: flags, dtype: int64

In [63]:
# Inspect unique values
df['dropped'].value_counts()

False    107
Name: dropped, dtype: int64

In [64]:
# Inspect unique values
df['absence'].value_counts()

False    107
Name: absence, dtype: int64

In [65]:
# Columns to drop that aren't necessary for our purposes
df = df.drop(['dataset_id', 'aphiaid', 'areas', 'basisOfRecord', 'class', 'classid', 'datasetID', 'datasetName', 
              'date_end', 'date_mid', 'date_start', 'date_year', 'family','familyid', 'genus', 'genusid', 'infraorder', 
              'infraorderid', 'infraphylum', 'infraphylumid', 'institutionCode', 'kingdom', 'kingdomid', 'marine', 
              'megaclass', 'megaclassid', 'modified', 'occurrenceStatus', 'order', 'orderid', 'phylum', 'phylumid', 
              'scientificName', 'scientificNameID', 'species', 'speciesid', 'subclass', 'subclassid', 'suborder', 
              'suborderid', 'subphylum', 'subphylumid', 'superfamily', 'superfamilyid', 'originalScientificName', 
              'flags', 'dropped', 'absence', 'catalogNumber'], axis=1)

In [66]:
df.columns

Index(['id', 'associatedMedia', 'bathymetry', 'day', 'decimalLatitude',
       'decimalLongitude', 'eventDate', 'footprintWKT', 'month',
       'occurrenceID', 'occurrenceRemarks', 'shoredistance', 'sss', 'sst',
       'year'],
      dtype='object')

In [67]:
df.shape

(107, 15)

### Closer Inspection of Date Columns

In [68]:
df['day'].value_counts(dropna=False)

NaN     55
22.0     5
28.0     4
18.0     4
13.0     4
21.0     3
25.0     3
30.0     3
16.0     3
19.0     3
27.0     2
17.0     2
24.0     2
12.0     2
23.0     2
1.0      2
20.0     1
15.0     1
5.0      1
3.0      1
8.0      1
9.0      1
31.0     1
26.0     1
Name: day, dtype: int64

In [69]:
df['day'].value_counts().sum()

52

In [70]:
df['month'].value_counts(dropna=False)

8.0     21
6.0     19
9.0     15
7.0     10
NaN      8
3.0      8
10.0     6
4.0      6
11.0     5
12.0     3
2.0      3
5.0      3
Name: month, dtype: int64

In [71]:
df['month'].value_counts().sum()

99

In [72]:
df['year'].value_counts(dropna=False)

2023    58
2024    31
2022    18
Name: year, dtype: int64

In [73]:
df['year'].value_counts().sum()

107

In [74]:
df['eventDate'].value_counts(dropna=False)

2023-08       9
2023-07       7
2023-06       5
2022-10       5
2023          5
             ..
2022-09-30    1
2023-11-22    1
2023-12-18    1
2023-12-22    1
2024-09       1
Name: eventDate, Length: 66, dtype: int64

In [75]:
df['eventDate'].value_counts().sum()

107

In [79]:
df.sample(3)

,id,associatedMedia,bathymetry,day,decimalLatitude,decimalLongitude,eventDate,footprintWKT,month,occurrenceID,occurrenceRemarks,shoredistance,sss,sst,year
14,2cb29efe-5b20-4094-b659-45e598fd278d,https://geoanavnet.hidrografico.pt/coastal-war...,134.0,NaN,38.394767,-9.239379,2023,MultiPolygon (((-9.27267600000000058 38.372701...,NaN,2936_ANAV_NR_0438/23,Novos perigos|Animais Marinhos - InteraÁ„o,2550.0,35.45,17.08,2023
2,04513443-a748-4db8-97ff-d7feeb05efe6,https://geoanavnet.hidrografico.pt/coastal-war...,158.6,NaN,38.190013,-9.040319,2022-10,MultiLineString ((-8.93188499999999941 37.9311...,10.0,1060_ANAV_NR_2335/22,Novos perigos|Animais Marinhos - InteraÁ„o,22472.0,35.52,17.19,2022
61,b435bf68-79db-49d6-a742-6b5442ddcf24,https://geoanavnet.hidrografico.pt/coastal-war...,85.2,13.0,40.294167,-9.112000,2023-09-13,MultiPoint ((-9.1120000000000001 40.2941670000...,9.0,4874_ANAV_NR_1698/23,Novos perigos|Animais Marinhos - Avistamento,20327.0,35.25,16.47,2023

In [80]:
df.columns

Index(['id', 'associatedMedia', 'bathymetry', 'day', 'decimalLatitude',
       'decimalLongitude', 'eventDate', 'footprintWKT', 'month',
       'occurrenceID', 'occurrenceRemarks', 'shoredistance', 'sss', 'sst',
       'year'],
      dtype='object')

In [84]:
# Reorder date columns
df = df.reindex(columns=['id', 'day', 'month', 'year', 'eventDate', 'decimalLatitude', 'decimalLongitude', 
                         'footprintWKT', 'bathymetry', 'shoredistance', 'sss', 'sst', 'occurrenceID', 'associatedMedia', 'occurrenceRemarks'])

In [85]:
df.shape

(107, 15)

In [86]:
df.head()

,id,day,month,year,eventDate,decimalLatitude,decimalLongitude,footprintWKT,bathymetry,shoredistance,sss,sst,occurrenceID,associatedMedia,occurrenceRemarks
0,ff3f89a4-518d-4e7c-a2dc-dda812013747,NaN,NaN,2022,2022,38.289937,-9.041748,MultiPoint ((-9.04174800000000012 38.289937000...,743.2,16220.0,35.49,17.10,1020_ANAV_NR_2310/22,https://geoanavnet.hidrografico.pt/coastal-war...,Novos perigos|Animais Marinhos - InteraÁ„o
1,716b10c8-5520-4577-9969-abd9f15b049c,30.0,9.0,2022,2022-09-30,38.238150,-8.856500,MultiPoint ((-8.85650000000000048 38.238149999...,86.6,7067.0,35.50,17.15,1032_ANAV_NR_2317/22,https://geoanavnet.hidrografico.pt/coastal-war...,Novos perigos|Animais Marinhos - InteraÁ„o
2,04513443-a748-4db8-97ff-d7feeb05efe6,NaN,10.0,2022,2022-10,38.190013,-9.040319,MultiLineString ((-8.93188499999999941 37.9311...,158.6,22472.0,35.52,17.19,1060_ANAV_NR_2335/22,https://geoanavnet.hidrografico.pt/coastal-war...,Novos perigos|Animais Marinhos - InteraÁ„o
3,e908ddf8-bfea-416b-bc95-e3014ed35446,NaN,10.0,2022,2022-10,37.022205,-8.738250,MultiPolygon (((-9.01977499999999921 36.908175...,56.0,5857.0,35.79,17.80,1140_ANAV_NR_2385/22,https://geoanavnet.hidrografico.pt/coastal-war...,Requisitos de seguranÁa maritima|Animais Marin...
4,c928f316-1827-4fac-b333-2504a40e8936,NaN,10.0,2022,2022-10,39.362879,-9.441375,MultiPolygon (((-9.59930400000000006 39.249271...,31.2,2824.0,35.27,16.69,1144_ANAV_NR_2387/22,https://geoanavnet.hidrografico.pt/coastal-war...,Requisitos de seguranÁa maritima|Animais Marin...

In [88]:
# Save simplified dataset
df.to_csv("OccurrenceDataset_simplified.csv", index=False)